simple-junit-module/src/test/resources/table.dtd

<!ELEMENT dataset (
    ANIMAL*,
    AUCTION_BID*,
    AUCTION_ITEM*,
    AUCTION_USER*,
    CLIENT_CACHE*,
    DOCUMENT*,
    DOCUMENT_INDEX_REQUEST*,
    DOMAIN*,
    DOMAIN_SETTING*,
    DOMAIN_USER*,
    IMPLICIT_POLYMORPHIC_CAT*,
    IMPLICIT_POLYMORPHIC_DOG*,
    INDEX_REQUEST*,
    JOINED_ANIMAL*,
    JOINED_CAT*,
    JOINED_DOG*,
    OWNER*,
    SINGLE_TABLE_ANIMAL*,
    SUPERANIMAL2*,
    SUPERCAT*,
    SUPERCAT2*,
    SUPERDOG*,
    SUPERDOG2*,
    TABLE_PER_CLASS_CAT*,
    TABLE_PER_CLASS_DOG*,
    TERM*,
    TERM_DOCUMENT_INDEX*,
    TERM_INDEX_REQUEST*)>

<!ELEMENT ANIMAL EMPTY>
<!ATTLIST ANIMAL
    ANIMAL_TYPE CDATA #REQUIRED
    ANIMAL_ID CDATA #REQUIRED
    ANIMAL_NAME CDATA #REQUIRED
    OWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT AUCTION_BID EMPTY>
<!ATTLIST AUCTION_BID
    BID_ID CDATA #REQUIRED
    BID_PRICE CDATA #IMPLIED
    BIDDER_ID CDATA #IMPLIED
    ITEM_ID CDATA #IMPLIED
>

<!ELEMENT AUCTION_ITEM EMPTY>
<!ATTLIST AUCTION_ITEM
    ITEM_ID CDATA #REQUIRED
    ITEM_NAME CDATA #IMPLIED
    ITEM_PRICE CDATA #IMPLIED
    SELLER_ID CDATA #IMPLIED
>

<!ELEMENT AUCTION_USER EMPTY>
<!ATTLIST AUCTION_USER
    USER_TYPE CDATA #REQUIRED
    USER_ID CDATA #REQUIRED
    USER_EMAIL CDATA #REQUIRED
    HOME_CITY CDATA #IMPLIED
    HOME_STREET CDATA #IMPLIED
    HOME_ZIPCODE CDATA #IMPLIED
    USER_NAME CDATA #REQUIRED
    SHIPPING_CITY CDATA #IMPLIED
    SHIPPING_STREET CDATA #IMPLIED
    SHIPPING_ZIPCODE CDATA #IMPLIED
>

<!ELEMENT CLIENT_CACHE EMPTY>
<!ATTLIST CLIENT_CACHE
    CLIENT_ENTITY_ID CDATA #REQUIRED
    CLIENT_ENTITY_TYPE CDATA #REQUIRED
    CLIENT_LOGIN_ID CDATA #REQUIRED
    CLIENT_INSERTED_DATE CDATA #IMPLIED
    CLIENT_INSERTED_TIME CDATA #IMPLIED
>

<!ELEMENT DOCUMENT EMPTY>
<!ATTLIST DOCUMENT
    DOCUMENT_TYPE CDATA #REQUIRED
    DOCUMENT_ID CDATA #REQUIRED
    DOCUMENT_CONTENTTYPE CDATA #REQUIRED
    DOCUMENT_FILENAME CDATA #REQUIRED
    DOCUMENT_NAME CDATA #REQUIRED
    DOCUMENT_CONTENT CDATA #IMPLIED
    DOCUMENT_STRCONTENT CDATA #IMPLIED
>

<!ELEMENT DOCUMENT_INDEX_REQUEST EMPTY>
<!ATTLIST DOCUMENT_INDEX_REQUEST
    REQUEST_DOCUMENT_ACTION CDATA #IMPLIED
    REQUEST_ID CDATA #REQUIRED
    REQUEST_DOCUMENT_ID CDATA #IMPLIED
>

<!ELEMENT DOMAIN EMPTY>
<!ATTLIST DOMAIN
    DOMAIN_NAME CDATA #REQUIRED
    DOMAIN_DESCRIPTION CDATA #IMPLIED
    PARENT_DOMAIN_NAME CDATA #IMPLIED
>

<!ELEMENT DOMAIN_SETTING EMPTY>
<!ATTLIST DOMAIN_SETTING
    SETTING_TYPE CDATA #REQUIRED
    SETTING_ID CDATA #REQUIRED
    SETTING_NAME CDATA #REQUIRED
    SETTING_VALUE CDATA #REQUIRED
    SETTING_DOMAIN_NAME CDATA #IMPLIED
>

<!ELEMENT DOMAIN_USER EMPTY>
<!ATTLIST DOMAIN_USER
    USER_LOGIN_ID CDATA #REQUIRED
    USER_NAME CDATA #REQUIRED
    USER_DOMAIN_NAME CDATA #IMPLIED
>

<!ELEMENT IMPLICIT_POLYMORPHIC_CAT EMPTY>
<!ATTLIST IMPLICIT_POLYMORPHIC_CAT
    IMPLICIT_POLYMORPHIC_CAT_ID CDATA #REQUIRED
    IMPLICIT_POLYMORPHIC_CAT_NAME CDATA #REQUIRED
    OWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT IMPLICIT_POLYMORPHIC_DOG EMPTY>
<!ATTLIST IMPLICIT_POLYMORPHIC_DOG
    IMPLICIT_POLYMORPHIC_DOG_ID CDATA #REQUIRED
    IMPLICIT_POLYMORPHIC_DOG_NAME CDATA #REQUIRED
    OWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT INDEX_REQUEST EMPTY>
<!ATTLIST INDEX_REQUEST
    REQUEST_ID CDATA #REQUIRED
    REQUEST_STATUS CDATA #IMPLIED
>

<!ELEMENT JOINED_ANIMAL EMPTY>
<!ATTLIST JOINED_ANIMAL
    JOINED_ANIMAL_ID CDATA #REQUIRED
    JOINED_ANIMAL_NAME CDATA #REQUIRED
    OWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT JOINED_CAT EMPTY>
<!ATTLIST JOINED_CAT
    JOINED_ANIMAL_ID CDATA #REQUIRED
>

<!ELEMENT JOINED_DOG EMPTY>
<!ATTLIST JOINED_DOG
    JOINED_DOG_ID CDATA #REQUIRED
>

<!ELEMENT OWNER EMPTY>
<!ATTLIST OWNER
    OWNER_ID CDATA #REQUIRED
    OWNER_NAME CDATA #REQUIRED
>

<!ELEMENT SINGLE_TABLE_ANIMAL EMPTY>
<!ATTLIST SINGLE_TABLE_ANIMAL
    SINGLE_TABLE_ANIMAL_TYPE CDATA #REQUIRED
    SINGLE_TABLE_ANIMAL_ID CDATA #REQUIRED
    SINGLE_TABLE_ANIMAL_NAME CDATA #REQUIRED
    OWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT SUPERANIMAL2 EMPTY>
<!ATTLIST SUPERANIMAL2
    SUPER_ANIMAL_ID CDATA #REQUIRED
    SUPER_ANIMAL_NAME CDATA #REQUIRED
>

<!ELEMENT SUPERCAT EMPTY>
<!ATTLIST SUPERCAT
    SUPER_ANIMAL_ID CDATA #REQUIRED
    SUPER_ANIMAL_NAME CDATA #REQUIRED
    SUPEROWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT SUPERCAT2 EMPTY>
<!ATTLIST SUPERCAT2
    SUPER_ANIMAL_ID CDATA #REQUIRED
>

<!ELEMENT SUPERDOG EMPTY>
<!ATTLIST SUPERDOG
    SUPER_ANIMAL_ID CDATA #REQUIRED
    SUPER_ANIMAL_NAME CDATA #REQUIRED
    SUPEROWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT SUPERDOG2 EMPTY>
<!ATTLIST SUPERDOG2
    SUPER_ANIMAL_ID CDATA #REQUIRED
>

<!ELEMENT TABLE_PER_CLASS_CAT EMPTY>
<!ATTLIST TABLE_PER_CLASS_CAT
    TABLE_PER_CLASS_ANIMAL_ID CDATA #REQUIRED
    TABLE_PER_CLASS_ANIMAL_NAME CDATA #REQUIRED
    OWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT TABLE_PER_CLASS_DOG EMPTY>
<!ATTLIST TABLE_PER_CLASS_DOG
    TABLE_PER_CLASS_ANIMAL_ID CDATA #REQUIRED
    TABLE_PER_CLASS_ANIMAL_NAME CDATA #REQUIRED
    OWNER_OWNER_ID CDATA #IMPLIED
>

<!ELEMENT TERM EMPTY>
<!ATTLIST TERM
    TERM_ID CDATA #REQUIRED
>

<!ELEMENT TERM_DOCUMENT_INDEX EMPTY>
<!ATTLIST TERM_DOCUMENT_INDEX
    INDEX_ID CDATA #REQUIRED
    INDEX_DOCUMENT_ID CDATA #IMPLIED
    INDEX_TERM_ID CDATA #IMPLIED
>

<!ELEMENT TERM_INDEX_REQUEST EMPTY>
<!ATTLIST TERM_INDEX_REQUEST
    REQUEST_ID CDATA #REQUIRED
    REQUEST_TERM_ID CDATA #IMPLIED
>

